   @model IEnumerable<VinylStore.Models.ForumPost>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Forum";
        
    }
<h1>@ViewBag.Subject</h1>
@if (Model.Count() > 0) { 
    foreach(var post in Model)
    {
        <div class="col-md-2 col-lg-2 col-sm-2">
            <h2>Author: @post.Author</h2>
            <h2>Post: @post.CreationDate</h2>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">@post.Content</div>
    }
}
else
{
    <p>There is no post here yet. Be first!</p>
}
<div>
    @using (Html.BeginForm("AddPost", "Forum", "POST")) { 
    <input type="text" name="postContent"/>
    <input type="hidden" name="topicSubject" value="@ViewBag.Subject" />
    <input type="submit" value="Add post"/>
    }
</div>
