@model VinylStore.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingMonday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingMonday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingTuesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingTuesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingWednesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingWednesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingThursday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingThursday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingFriday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingFriday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingSaturday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingSaturday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingSunday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingSunday)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
