@model IEnumerable<VinylStore.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingMonday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingTuesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingWednesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingThursday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingFriday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingSaturday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingSunday)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingMonday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingTuesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingWednesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingThursday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingFriday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingSaturday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingSunday)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
